# ======================
# Build Folders
# ======================
bin/
obj/
out/
TestResults/
*.nupkg

# ======================
# Visual Studio
# ======================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# ======================
# Rider
# ======================
.idea/

# ======================
# Resharper
# ======================
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# ======================
# DotCover
# ======================
*.dotCover

# ======================
# Visual Studio Code
# ======================
.vscode/

# ======================
# SQLite / Database / Local Cache
# ======================
*.db
*.db-shm
*.db-wal
*.sqlite
*.mdf
*.ldf

# ======================
# Logs
# ======================
*.log
logs/
npm-debug.log*

# ======================
# Packages
# ======================
*.nupkg
*.snupkg
packages/
.nuget/

# ======================
# OS Files
# ======================
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# ======================
# Others
# ======================
*.vsix
