# Visual Studio user-specific files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.dbmdl
*.jfm
*.pdb
*.cachefile

# VS caches and indexes
**/DocumentLayout.json
**/FileContentIndex/

# Build output
bin/
obj/
